body {
  font-family: 'monospace', sans-serif;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #f4f6f9;
  color: #333;
}

.form-error {
  color: #ff4d4f;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  display: block;
  font-weight: bold;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

form {
  width: 90%;
}

.auth-btn {
  margin-top: 20px;
}

.form-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

.auth-form {
  width: 40%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

footer {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  background-color: #f4f6f9;
  color: #333;
  padding: 20px;
  bottom: 0;
  align-items: center;
  border-top: 1px solid #333;
}

.flash-messages .alert {
  padding: 15px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  background-color: #ff9800;

}

.flash-messages .alert-success {
  background-color: #4CAF50;
}

.flash-messages .alert-error {
  background-color: #f44336;
}

.flash-messages .alert-info {
  background-color: #2196F3;
}

.flash-messages .alert-warning {
  background-color: #ff9800;
}

.flash-messages .alert {
  transition: opacity 0.5s ease;
}

.flash-messages .alert.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
