{% extends "base.html" %}
{% block title %}Change Password | Portfolio{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{{ url_for('admin.static', filename='styles/forms.css') }}">{% endblock %}
{% block content %}
<h1>{{ form.heading }}</h1>
<form method="post" action="{{ url_for('admin.change_password') }}" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    {% for field in form if field.name != 'csrf_token' and field.type != 'SubmitField' %}
      <div class="form-group">
          <label>{{ field.label.text }}</label>
          {{ field(class="input-field") }}
          {% if field.errors %}
              <div class="form-error">
                  {{ field.errors[0] }}
              </div>
          {% endif %}
      </div>
    {% endfor %}

    <div class="form-group">
        <button type="submit" class="submit-btn">Change Password</button>
    </div>
</form>
{% endblock %}
